{% extends "base.html" %}
{% load types %}
{% load staticfiles %}

{%block title%}Acerca de{%endblock%}
{%block title_body%}Acerca de Papered{%endblock%}


{%block body%}
<div><center>
<h1>Acerca de Papered</h1>
<p>El objetivo de este sitio es <b>ayudar a los investigadores en la búsqueda y selección colaborativa de <i>papers</i></b> de las principales sitio de publicación de artículos científicos - inicialmente de carácter informático y computación.</p>
<p>Inicialmente están las fuentes IEEE, ACM Digital Library. En el futuro se espera la adición de otras fuentes ,así como mejoras y nuevas funcionalidades.</p>
<h1>Acerca del desarrollador</h1>
<p>Este sitio fue creado por <b>Nicolás Montenegro</b> como proyecto de memoria  de <b>Ingeniería de ejecución en computación e informática</b> para la <a href="http://usach.cl"><b>Universidad de Santiago de Chile</b></a>.</p>
<p>Si tienes algún problema, sugerencia o necesitas ayuda con el sitio, puedes enviarme un mensaje...</p>
<p>correo <b>nicolas.montenegro [@] usach.cl</b></p>
<p>telegram <b><a href="https://telegram.me/nicolasmontenegro">nicolasmontenegro</a></b></p>

</center></div>
{%endblock%}