{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta HTTP-EQUIV="Expires" CONTENT="Tue, 01 Jan 1980 1:00:00 GMT">
		<meta HTTP-EQUIV="Pragma" CONTENT="no-cache"> 

		<title>{%block title%}Papered{%endblock%} - Papered</title>


	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">      <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
			<div class="container-fluid">
				
				<div class="navbar-header"> 
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>         
					<a class="navbar-brand hidden-sm hidden-xs">{%block title_body%}Papered{%endblock%}</a>
				</div>


				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					{%block nav_left%}{%endblock%}
					<ul class="nav navbar-nav navbar-right">
						<li><p class="navbar-text hidden-sm hidden-md">{%block nav_right%}{%endblock%}</p></li>
						<li role="separator" class="divider"></li>
						{% if userlogin %}
							<li class="dropdown">
								  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userlogin.firstname}}<span class="caret"></span></a>
								  <ul class="dropdown-menu">
									<li><a href="/">Carpetas</a></li>
									<li><a href="/profile">Perfil</a></li>
									<li><a href="/logout">Cerrar sesión</a></li>
								  </ul>
								</li>
						{% else %}
							<li><a class="btn btn-sm btn-default" href="/login" role="button">Inicia sesion</a><li>
						{% endif %}
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>


		<div class="content-container" id="top">
			{%block body%}{%endblock%}
		</div>		
	</body>
	<footer>		
		<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
		<script type="text/javascript" src="{% static 'func/base.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		{%block script%}{%endblock%}
		
	</footer>
</html>