{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Buscador papers: {%block title%}Papers{%endblock%}</title>

	

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">      <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
		<div class="container-fluid">
			
			<div class="navbar-header">          
				<a class="navbar-brand" href="http://127.0.0.1:8000/buscador">
					{% if back %}
						<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
					{% endif %}
					{%block title_body%}Papers {%endblock%}
				</a>
			</div>


			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
				{%block nav_left%}{%endblock%}
				<p class="navbar-text navbar-right">{%block nav_right%}{%endblock%}</p>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>


	<div class="content-container" id="top">
		{%block body%}{%endblock%}
	</div>
	

	<span id="top-link-block" class="hidden">
	    <a href="#top" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
	        <i class="glyphicon glyphicon-chevron-up"></i> Volver arriba
	    </a>
	</span><!-- /top-link-block -->
</body>
<footer>

	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
	<script type="text/javascript" src="{% static 'func/base.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	{%block script%}{%endblock%}

</footer>
</html>