{% extends "base.html" %}
{% load types %}
{% load staticfiles %}

{%block title%}Inicio{%endblock%}
{%block title_body%}Resultados<i> "{{out.query}}"</i>{%endblock%}

{%block script%}<script type="text/javascript" src="{% static 'func/busqueda.js' %}"></script>{%endblock%}

{%block nav_right%}Fecha de busqueda: {{out|date}}{%endblock%}

{%block body%}
	
<div role="tabpanel">

	<!-- Nav tabs -->

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
	{% for item in out.sources%}
			<a href="#{{item.name}}" aria-controls="{{item.name}}" role="tab" data-toggle="tab">{{item.name}}</a>
		</li>	
		<li role="presentation">
	{% endfor %}
			<a href="#download" aria-controls="download" role="tab" data-toggle="tab">descargar</a>
		</li>
	</ul>


	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" {% for item in out.sources %} id="{{item.name}}">
			<div class="row">
				<div class="col-xs-11"><h3>Total resultados: {{item.doc.totalfound}}</h3></div>
			</div>
			{% for doc in item.doc.results %}
			<div class="well well-sm">
				<div class="row">
					<div class="col-xs-1"><font size="10">{{doc.rank}}</font></div> 
					<div class="col-xs-11"><h3><a href="{{doc.mdurl}}">{{doc.title}}</a></h3></div>
				</div>
				<div class="row">                
					<!-- Optional: clear the XS cols if their content doesn't match in height -->
					<!-- <div class="clearfix visible-xs-block"></div> -->
					<div class="col-xs-12">
						<p><b>Publicación: </b>{{doc.pubN}}, p. {{doc.pubP}}. {{doc.pubY}} </p>
						<p><b>Autores: </b>{{doc.authors}}</p>
						{% if doc.pdfurl %}<p><b>Enlace: </b><a href="{{doc.mdurl}}">Página de publicación</a><i> requiere registro</i></p>{% endif %}
						<p><b>DOI: </b>{{doc.doi}}</p>
						<p><b>Abstract: </b>{{doc.abstract}}</p>
					</div>
				</div>
			</div>		
			{% endfor %}	
		</div>
		<div role="tabpanel" class="tab-pane" {% endfor %} id="download">
			<div class="col-xs-1"><a class="btn btn-default" href="http://localhost:8000/buscador/descargar?idquery={{out|id}}" role="button">xlsx</a></div>
		</div>
	</div><!-- Tab panes end -->


</div>

{%endblock%}
