{% extends "base.html" %}
{% load types %}

{%block title%}Inicio{%endblock%}
{%block title_body%}Resultados<i> "{{out.query}}"</i>{%endblock%}

{%block nav_right%}<a class="btn btn-default navbar-btn navbar-right" href="http://localhost:8000/buscador/descargar/?idquery={{out|id}}" role="button">xlsx</a>{%endblock%}

{%block body%}
  
  <div role="tabpanel">

    <!-- Nav tabs -->

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#elsevier" aria-controls="elsevier" role="tab" data-toggle="tab">elsevier</a></li>
      <li role="presentation"><a href="#ieee" aria-controls="ieee" role="tab" data-toggle="tab">ieee</a></li>
      <li align="right" role="presentation"><a href="#download" aria-controls="download" role="tab" data-toggle="tab">descargar</a></li>
     
    </ul>


    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="elsevier">
        <div class="row">
          <div class="col-xs-11"><h3>Total resultados: {{elsevier.totalfound}}</h3></div>
        </div>
        {% for doc in elsevier.res %}
            <div class="well well-sm">
              <div class="row">
                <div class="col-xs-1"><font size="10">{{doc.rank}}</font></div> 
                <div class="col-xs-11"><h3>{{doc.title}}</h3></div>
              </div>
              <div class="row">                
                <!-- Optional: clear the XS cols if their content doesn't match in height -->
                <!-- <div class="clearfix visible-xs-block"></div> -->
                <div class="col-xs-12">
                  <p><b>Publicación: </b>{{doc.pubN}}, p. {{doc.pubP}}. {{doc.pubY}} </p>
                  <p><b>Autores: </b>{{doc.authors}}</p>
                  <p><b>Enlace: </b><a href="{{doc.mdurl}}">Página de publicación</a></p>
                  <p><b>DOI: </b>{{doc.doi}}</p>
                  <p><b>Abstract: </b>{{doc.abstract}}</p>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
      <div role="tabpanel" class="tab-pane" id="ieee">
        <div class="row"><div class="col-xs-12"><h3>Total resultados: {{ieee.totalfound}}</h3></div></div>
        {% for doc in ieee.res %}
            <div class="well well-sm">
              <div class="row">
                <div class="col-xs-1"><font size="10">{{doc.rank}}</font></div>
                <div class="col-xs-11"><h3>{{doc.title}}</h3></div>
              </div>
              <div class="row">
                <!-- Optional: clear the XS cols if their content doesn't match in height -->
                <!-- <div class="clearfix visible-xs-block"></div> -->
                <div class="col-xs-12">
                  <p><b>Publicación: </b>{{doc.pubN}}, p. {{doc.pubP}}. {{doc.pubY}} </p>
                  <p><b>Autores: </b>{{doc.authors}}</p>
                  <p><b>Enlace: </b><a href="{{doc.mdurl}}">Página de publicación</a>, <a href="{{doc.pdfurl}}">Descargar</a>(requiere sesión)</p>
                  <p><b>DOI: </b>{{doc.doi}}</p>
                  <p><b>Abstract: </b>{{doc.abstract}}</p>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
      <div role="tabpanel" class="tab-pane" id="download">
        <div class="col-xs-1"><a class="btn btn-default" href="http://localhost:8000/buscador/descargar/?idquery={{out|id}}" role="button">xlsx</a></div>
      </div>
    </div>

  </div>


     
     

  <script type="text/javascript"> 
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
  </script>
{%endblock%}
