{% extends "base.html" %}
{% load types %}
{% load staticfiles %}

{%block title%}Carpeta "{{out.folder}}"{%endblock%}
{%block title_body%}Carpeta <i>"{{out.folder}}"</i>{%endblock%}

{%block nav_right%}fecha de creación: {{out|date}}{%endblock%}

{%block script%}<script type="text/javascript" src="{% static 'func/invitation.js' %}"></script>{%endblock%}

{%block body%}
{% if out.permission == "creator" or out.permission == "admin" %}
	<div class="row">
		<div class="col-md-9 col-sm-9">
			<label>Termino a buscar</label>
			<form class="input-group" action="revisar" method="GET" >
				<input type="text" class="form-control" placeholder="buscar" id="query" type="text" name="query" required>				
				<input type="hidden" name="idfolder" id="idfolder" value="{{ out|id }}">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">buscar</button>
				</span>
			</form>
		</div>
		<div class="col-md-3 col-sm-3">
			<!-- Trigger the modal with a button -->
			<label>Invitar a colaborar</label>
			<button type="button" class="btn btn-info btn-default btn-block" data-toggle="modal" data-target="#ModalInvite">Invitar</button>
		</div>
	</div>
	<br>
	<!-- Modal -->
	<div id="ModalInvite" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Invitar a colaborar</h4>
				</div>
				<div class="modal-body">
					<p>Escribe el correo del usuario al cual quieres añadir a tu carpeta de investigación.</p>
					<p>Aquellos usuarios que no estén registrados deberán crear una cuenta para recibir invitaciones.</p>
					<form class="input-group">
						<input type="text" class="form-control" placeholder="foo@bar.not" id="invitation" type="text" name="invitation" required>				
						<span class="input-group-btn">
							<button class="btn btn-default" id="check" type="submit">Enviar</button>
						</span>
					</form>
				</div>
				
				<div class="modal-footer collapse">
					<div class="alert" role="alert">
					</div>
					<div>
					  	<button class="btn btn-default" id="back" >Volver</button>
					  	<button class="btn btn-default" id="send" >Enviar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{% if out.demand|length %}
	<div class="row">	
		<div class="col-xs-12 col-md-12">	
			<label>Solicitudes de colaboración</label>
			<div class="panel panel-default">				
				<!-- Default panel contents -->		
				<table class="table">
					<thead>
						<tr>
							<th>Usuario</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for doc in out.demand %}
						<tr>
							<td><p class="userDemand">{{doc|nameById}}</p></td>
							<td><button class="btn btn-xs acceptDemand" iduser={{doc}}>Aceptar solicitud</button></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endif %}
{% endif %}
{% if out.search|length%}
<div class="row">	
	<div class="col-xs-12 col-md-12">	
		<label>Historial de busquedas</label>
		<div class="panel panel-default">			
			<!-- Default panel contents -->		
			<table class="table">
				<thead>
					<tr>
						<th>Busqueda</th>						
						<th class="hidden-xs">Fecha</th>
					</tr>
				</thead>
				<tbody>
					{% for doc in  out.search %}
					<tr>
						<td><a href="/revisar?idquery={{doc.doc|id}}">{{doc.doc.query}}</a></td>
						<td class="hidden-xs">{{doc.doc|date}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{%else%}
<div class="page-header">
	{% if out.permission == "creator" or out.permission == "admin" %}	
	<h1>No hay registros <small>empieza buscando algo desde el cuadro superior</small></h1>
	{% else %}	
	<h1>No hay registros <small>solo los administradores pueden generar busquedas</small></h1>
	{% endif %}
</div>	
{%endif%}

{% if out.user|length %}
	<div class="row">	
		<div class="col-xs-12 col-md-12">	
			<label>Usuarios en esta carpeta</label>
			<div class="panel panel-default">			
				<!-- Default panel contents -->		
				<table class="table">
					<thead>
						<tr>
							<th>Usuario</th>
							<th>Permiso</th>
						</tr>
					</thead>
					<tbody>
						{% for doc in out.user %}
						<tr>
							<td><p>{{doc|nameById}}</p></td>
							<td><p>{{out.user|getItem:doc|permission}}</p></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endif %}
{%endblock%}	
