<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<li>
	<div class="well well-sm">
		<div class="row">
			<div class="col-xs-12"><h3>Titulo de la cosa</h1></div>
		</div>
		<div class="row">
			<div class="col-xs-2">fotigui</div>
			<!-- Optional: clear the XS cols if their content doesn't match in height -->
			<!-- <div class="clearfix visible-xs-block"></div> -->
			<div class="col-xs-10">
				<p><h4>Publicación: </h4>Economics of Education Review, Volume 46, June 2015, Pages 1-22</p>
				<p><h4>Autores: </h4>...., lllllllllll, llllllllllll</p>
				<p><h4>Enlace: </h4><a href="#">Página de publicación</a>, <a href="#">Descargar</a>(requiere sesión)</p>
				<p><h4>Abstract: </h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam neque augue, efficitur sit amet lacus vitae, pulvinar eleifend dui. Vestibulum pulvinar augue ut nulla pulvinar tempor quis sed est. In odio risus, pharetra quis congue nec, lacinia ac enim. Proin aliquam mi et mollis volutpat. Etiam eu ornare magna. Maecenas quis feugiat sapien, vitae sagittis metus. Sed vel ante urna. Aliquam erat volutpat. Quisque pretium risus sed ligula interdum tempor.

Donec scelerisque urna sed ex aliquam, et hendrerit est pulvinar. Vestibulum convallis nibh sem, in fermentum ligula dictum nec. Quisque quis ultrices tellus. Cras id elit vitae lacus molestie suscipit. Maecenas eget urna gravida, consequat ex vel, imperdiet mi. Nunc velit dui, laoreet id erat pretium, egestas bibendum tellus. Donec ut mauris quis sapien interdum posuere. Curabitur vel enim accumsan, cursus massa vel, lobortis eros. Fusce porta purus ut ante viverra, id molestie quam ultrices. Ut mi dui, egestas interdum dictum in, posuere nec augue. Etiam et tempus quam. Vestibulum mattis arcu sit amet condimentum rhoncus. Donec hendrerit a metus quis pharetra. Donec mollis ligula a ullamcorper pellentesque. Aenean porta enim nec ultrices suscipit. Nam quis mattis ligula. </p>
				<p></p>
			</div>
		</div>
	</div></li>

</body>
</html>