{% load staticfiles %}
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{%block title%}Papers{%endblock%}</title>
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
	<script type="text/javascript" src="{% static 'func/logout.js' %}"></script>	


</head>
<body>
	<script type="text/javascript">
		$.cookie.remove("head");
		$.cookie.remove("body");
		$.cookie.remove("usr");
		$.cookie.remove("csrftoken");
		//self.location="/";
		window.location.replace("/login");
	</script>
</body>
</html>