{% load types %}
{% load staticfiles %}
<div>
	<legend>Progreso votaciones</legend>
	<a data-toggle="collapse" data-target="#helpDownload"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> ¿Qué significan estos números? ¿Cómo descargar?</a>
	<div id="helpDownload" class="collapse">
		<p><i>para cerrar esta ayuda, vuelva a pulsar el texto superior...</i></p>
		<h2>¿Qué significan estos números?</h2>
		<p>Estos son contadores de los artículos seleccionados organizados por fuente. Tenga en cuenta que <b>los votos válidos</b> son aquellos realizados a través de los <b>botones de aprobación <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></b> o <b>rechazo <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></b>. <b>Los comentarios <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> no son contabilizados</b>.</p>
		<h4>Progreso Personal</h4>
		<p>Son los artículos <b>marcados por usted</b>, que están asociados a su cuenta. Este contador es personal, y no considera las elecciones de otros usuarios.</p>
		<h4>Progreso total</h4>
		<p>Son los artículos maracados por <b>todos los miembros de la carpeta</b>. A diferencia del progreso personal, para que los valores se vean reflejados, debe existir una decisión unánime en las votaciones, es decir, que todas las votaciones sobre un artículo deben ser de aprovación o rechazo. Si un artículo <b>no cumple tal requerimiento, no es considerado</b>, por lo que se sugiere su discución en la <b>caja de comentarios</b> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>.</p>
		<p>En caso de haber un solo usuario en la carpeta, este contador será igual al progreso personal. En caso de agregar un nuevo usuario, este deberá realizar su selección, de caso contrario, solo habrá 0 votos.</p>
		<h2>¿Cómo descargar?</h2>
		<p>Debe ir a la sección de descarga y elegir una opción de la selección de artículos al final de esta página. En el caso de las opciones "Aprobados por mi" y "Rechazados por mi" son los artículos obtenidos a partir de la selección personal. Para las opciones "Aprobados por todos" y "Rechazados por todos" se aplica el mismo griterio del progreso total, o sea deben haber decisiones unánimes para aplicar esta selección.</p>
		<p>Puede elegir incluir artículos identificados como duplicados marcando la casilla <i>Descargar duplicados</i>.</p>
		<p>Al presional descargar, obtendrá un fichero Excel <i>.XLSX</i> con la configuración que haya marcado.</p>
	</div>
	{% for item in progress.sources %}
	{% if item.doc.totalfound > 0 %}
	<div class="panel panel-primary"> 
		<div class="panel-heading"> 
			<h3 class="panel-title">{{item.name}}</h3> 
		</div> 
		<div class="panel-body"> 
			<div class="rows">
				<div class="col-md-2">
					<h4>{{item.doc.totalfound}} <small>artículos en total</small></h4>
				</div>
				<div class="col-md-10">
					<ul class="list-inline">
						<li><label>Progreso personal</label></li>
						<li>{{item.votes.my.yes}} aprobados ({{item.votes.my.yesPercent|stringformat:"d"}}%)</li>
						<li>{{item.votes.my.no}} rechazados ({{item.votes.my.noPercent|stringformat:"d"}}%)</li>
					</ul>
					<ul class="list-inline">
						<li><label>Progreso total</label></li>
						<li>{{item.votes.all.yes}} aprobados ({{item.votes.all.yesPercent|stringformat:"d"}}%)</li>
						<li>{{item.votes.all.no}} rechazados ({{item.votes.all.noPercent|stringformat:"d"}}%)</li>
					</ul>
				</div>					
			</div>
		</div> 
	</div>
	{% endif %}
	{% endfor %}	
</div>
<div>
	<legend>Descargar artículos</legend>
	<form class="form-inline" action="descargar" method="GET" >
			<label for="typeQuery">Selección </label>
			<div class="form-group">
			{% csrf_token %}
			<input type="hidden" name="idquery" value="{{progress|id}}">
			<select class="form-control" name="typeQuery">
				<option value=0>Todos</option>
				<option value=1>Aprobados por mi</option>
				<option value=2>Aprobados por todos</option>
				<option value=-1>Rechazados por mi</option>
				<option value=-2>Rechazados por todos</option>
			</select>
			<input type="checkbox" aria-label="download duplicate" name="duplicate"> Descargar duplicados    </input>
			<button class="btn btn-default" type="submit">Descargar</button>
		</div>						
	</form>
</div>