{% load types %}
{% load staticfiles %}
<div>
	<legend>Progreso votaciones</legend>
	<a href="/help#summary" target="_blank"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>¿Qué significan estos números?</a>
	{% for item in progress.sources %}
	{% if item.doc.totalfound > 0 %}
	<div class="panel panel-primary"> 
		<div class="panel-heading"> 
			<h3 class="panel-title">{{item.name}}</h3> 
		</div> 
		<div class="panel-body"> 
			<div class="rows">
				<div class="col-md-2">
					<h4>{{item.doc.totalfound}} <small>artículos en total</small></h4>
				</div>
				<div class="col-md-10">
					<ul class="list-inline">
						<li><label>Progreso personal</label></li>
						<li>{{item.votes.my.yes}} aprobados ({{item.votes.my.yesPercent|stringformat:"d"}}%)</li>
						<li>{{item.votes.my.no}} rechazados ({{item.votes.my.noPercent|stringformat:"d"}}%)</li>
					</ul>
					<ul class="list-inline">
						<li><label>Progreso total</label></li>
						<li>{{item.votes.all.yes}} aprobados ({{item.votes.all.yesPercent|stringformat:"d"}}%)</li>
						<li>{{item.votes.all.no}} rechazados ({{item.votes.all.noPercent|stringformat:"d"}}%)</li>
					</ul>
				</div>					
			</div>
		</div> 
	</div>
	{% endif %}
	{% endfor %}	
</div>
<div>
	<legend>Descargar artículos</legend>
	<form class="form-inline" action="descargar" method="GET" >
			<label for="typeQuery">Selección </label>
			<div class="form-group">
			{% csrf_token %}
			<input type="hidden" name="idquery" value="{{progress|id}}">
			<select class="form-control" name="typeQuery">
				<option value=0>Todos</option>
				<option value=1>Aprobados por mi</option>
				<option value=2>Aprobados por todos</option>
				<option value=-1>Rechazados por mi</option>
				<option value=-2>Rechazados por todos</option>
			</select>
			<input type="checkbox" aria-label="download duplicate" name="duplicate"> Descargar duplicados    </input>
			<button class="btn btn-default" type="submit">Descargar</button>
		</div>						
	</form>
</div>