.navbar-fixed-top + .content-container {
	padding-top: 70px;
    padding-bottom: 30px;
    margin: 0 30px;
}

.navbar-fixed-bottom{
    min-height: 0px;
}

.pagination {
    margin: 0px;
}

.navbar-brand {
    white-space: nowrap;
    overflow-x: hidden;
    float: right;
}


#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    left: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 50px; /* height of link element */
    left: 10px; /* padding from the left side of the window */
}

.paperTitle {
    margin-top: 0px;
    margin-bottom: 0px;
}

.paperButton {
    margin-top: 6px;
}
